<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseMockData" value="true"/>
		
		<add key="AvoidingDistance" value="100"/>
		<add key="AlarmDistance" value="500"/>
		<add key="MinSignalsCount" value="3"/>
		<add key="MinSignalsCountLidar" value="4"/>
		<add key="SignalValidLifetimeMs" value="1000"/>

		<add key="MaxLifeCheckESPResposeTime" value="5000"/>
	</appSettings>
</configuration>