<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseMockData" value="true"/>

		<add key ="MinDistance" value="100"/>
		<add key="AvoidingDistance" value="300"/>
		<add key="AlarmDistance" value="500"/>
		<add key="MinSignalsCount" value="3"/>
		<add key="MinSignalsCountLidar" value="3"/>
		<add key="SignalValidLifetimeMs" value="1000"/>
		
		<add key="LidarMaxAcceptableError" value="1000"/>
		<add key="LidarMinConfirmationCount" value="3"/>
		<add key="_lidarTimeOfMeasurementLife" value="3"/>

		<add key="MaxLifeCheckESPResposeTime" value="5000"/>
	</appSettings>
</configuration>